* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .blogList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .blogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }